<div class="card mb-3">
    <div class="row no-gutters"  style="min-height: 400px;">
        <div class="col-md-4">
<!--            <img src="..." class="card-img" alt="...">-->
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{{brand}}}, {{{model}}}</h5>
                <div class="row">
                <div class="col-md-6">
                    <p>КПП: {{{gearbox}}}</p>
                    <p>Кондиционер: {{{ac}}}</p>
                    <p>Количество мест: {{{seats}}}</p>
                </div>
                <div class="col-md-6">
                    <p>Тип кузова: {{{type}}}</p>
                    <p>цвет: {{{color}}}</p>
                    <p>год выпуска: {{{year}}}</p>
                </div>
                </div>
<h6>Цена за: день {{{day}}}, неделю {{{week}}}, месяц {{{month}}}</h6>

                <p class="card-text">{{{description}}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>


<br>

